<nav>
    <div class="site-title">
      <a href="/"><h1 align='center'>Anime List <%=season%></h1></a>
    </div>
    <div align= 'center'>
        <a href="/spring">Spring 2021</a> | <a href="/summer">Summer 2021</a> | <a href="/add-anime">Add Anime</a> | <a href="/anime">Added Anime</a>
    </div>
  </nav>